@import '@/styles/vars.scss';
@import '@/styles/anims.scss';

.skills {
    grid: auto / repeat(6, 1fr);
    gap: 1rem;

    div {
        grid-column: span 2;
    }

    div:nth-child(5n) {
        grid-column: span 3;
        margin-right: auto;
    }
    div:nth-child(5n - 1) {
        margin-left: auto;
        grid-column: span 3;
    }

}

