/* Variables and mixins declared here will be available in all other SCSS files */
$primary: #fefe96;
$text-primary: #f5f5f5;
$background: #0b0b0b;

$yellow: #ffff00;
$orange: #ffc400;
$black: #000000;

$gradient-1: #00000000;
$gradient-2: #00000088;
$gradient-3: #000000;

$dither: url('$lib/assets/dither.png');