@mixin glow($c1, $c2, $c3) {
	text-shadow: 0 0 $r/6 snow, 0 (-$o) $r $c3, (-$o) $o $r $c2, $o $o $r $c3;
}

@keyframes glow {
	0%,
	100% {
		@include glow(nth($c, 1), nth($c, 2), nth($c, 3));
	}
	33% {
		@include glow(nth($c, 2), nth($c, 3), nth($c, 1));
	}
	66% {
		@include glow(nth($c, 3), nth($c, 1), nth($c, 2));
	}
}

@mixin smallglow($c1, $c2, $c3) {
	text-shadow: 0 0 $r/6 snow, 0 (-$o/6) $r/6 $c3, (-$o/6) $o/6 $r/6 $c2, $o/6 $o/6 $r/6 $c3;
}

@keyframes smallglow {
	0%,
	100% {
		@include smallglow(nth($c, 1), nth($c, 2), nth($c, 3));
	}
	33% {
		@include smallglow(nth($c, 2), nth($c, 3), nth($c, 1));
	}
	66% {
		@include smallglow(nth($c, 3), nth($c, 1), nth($c, 2));
	}
}

@mixin outlineglow($c1, $c2, $c3) {
	box-shadow: 0 0 $r/6 snow, 0 (-$o/6) $r/6 $c3, (-$o/6) $o/6 $r/6 $c2, $o/6 $o/6 $r/6 $c3;
}

@keyframes outlineglow {
	0%,
	100% {
		@include outlineglow(nth($c, 1), nth($c, 2), nth($c, 3));
	}
	33% {
		@include outlineglow(nth($c, 2), nth($c, 3), nth($c, 1));
	}
	66% {
		@include outlineglow(nth($c, 3), nth($c, 1), nth($c, 2));
	}
}

@mixin bottomglow($c1) {
	box-shadow: 0 5px $r/24 -3px $c1;
}

@keyframes bottomglow {
	0%,
	100% {
		@include bottomglow(nth($c, 1));
	}
	33% {
		@include bottomglow(nth($c, 2));
	}
	66% {
		@include bottomglow(nth($c, 3));
	}
}