@tailwind base;
@tailwind components;
@tailwind utilities;

@import './vars.scss';
@import './anims.scss';

@font-face {
	font-family: 'Yellowtail';
	src: url(../fonts/Yellowtail/Yellowtail-Regular.ttf);
}

@font-face {
	font-family: 'Fira Code';
	src: url(../fonts/Fira_Code/FiraCode-VariableFont_wght.ttf);
}

html,
body {
	overflow-x: hidden;
	scroll-behavior: smooth;
	background: $bg-primary;
}

section:nth-of-type(even) {
	background-color: $bg-primary-dark;
}

svg {
	fill: $text-primary;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	color: $text-primary;
	box-sizing: border-box;
	font-family: 'Fira Code', monospace;
	padding: 0;
	margin: 0;
}

p {
	color: $text-secondary;
}


.splash-title {
	font-family: 'Yellowtail', cursive;
}

.glow {
	color: $text-primary;
	animation: glow $d ease-in-out both infinite;

	@for $i from 1 through $chars {
		&:nth-child(#{$i}) {
			animation-delay: $i/$chars * -$d;
		}
	}
}

.smallglow {
	animation: smallglow $d ease-in-out both infinite;
}

.icon {
	border-radius: 50%;
	transition: 0.005s ease-in-out;
}
.icon:hover {
	animation: outlineglow $d ease-in-out both infinite;
}

.glow-circle {
	border-radius: 50%;
	animation: outlineglow $d ease-in-out both infinite;
}
