@import './vars.scss';
@import './anims.scss';

.logo {
    font-family: 'Yellowtail', cursive;
    font-size: xx-large;
}

.link {
    transition: all ease-in-out 0.1s;
    animation: none;
}

.link:hover {
    animation: bottomglow $d ease-in-out both infinite;
}

// .link[data-active=true] {
//     animation: bottomglow $d ease-in-out both infinite;   
// }
// .link[data-active=true]:hover {
//     animation: bottomglow $d ease-in-out both infinite;
// }

// .linkglow:hover{
//     animation: smallglow $d ease-in-out both infinite;
// }