@import './vars.scss';
@import './anims.scss';

.cardinner {
	transition: transform 1s, cardglow 0.005s ease-in-out;
	transform-style: preserve-3d;
}

.card:hover .cardinner,
.card:focus .cardinner {
	animation: outlineglow $d ease-in-out both infinite;
	transform: rotateY(-180deg);
}

.logo {
	transition: transform 1s;
	backface-visibility: hidden;
}

.grow {
	transition: transform 0.5s;
}

.grow:focus,
.grow:hover {
	transform: scale(1.05);
}

.frontface {
	backface-visibility: hidden;
	transform-style: preserve-3d;
}

.backface {
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden;
	transform: rotateY(180deg);
}
