// Glow Animation Vars
$r: 50px; // glow radius
$o: 25px; // glow offset
$d: 2s; // duration
$chars: 15; // # of letters
$bg: #111; // background color
$c: cyan yellow tomato;

// Global Vars
$text-primary: rgb(250, 250, 250);
$text-secondary: darken($text-primary, 15);

$bg-primary: rgb(18, 18, 18);
$bg-primary-dark: darken($bg-primary, 2);

$bg-secondary: rgb(33, 33, 33);
$bg-secondary-dark: darken($bg-secondary, 5);
